.App {
  min-height: 100vh;
  text-align: center;
  align-items: center;
  background-color: #43c5d1 ;
}



.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}


